

@font-face {
    font-family: 'Kollektif';
    src: url(/fonts/kollektif/Kollektif.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(/fonts/Montserrat/Montserrat-Regular.ttf); 
}

@font-face {
    font-family: 'Norwester';
    src: url(/fonts/norwester.otf);
}

/* Color Palette
Dark Blue = #056674
Light Blue = #66BFBF
Pale Green = #E0ECE4
Red = #FF4B5C
*/



/* Universal Animations */

nav ul li a {
    transition-duration: 0.2s;
}

nav ul li a:hover {
    color: #FF4B5C;
}


button:hover {
    box-shadow: 5px 5px #056674;
    position: relative;
    top: -5px;
    left: -5px;

}

/* Desktop View */

@media only screen and (min-device-width: 1113px) {

/* Header and Nav Bar */

header {
    background-color: #056674;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

}

.logo {
    
    height: 150px;
    width: 150px;
    margin: auto;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin: auto;
    padding: 0;
}

nav ul li a {
    font-size: 200%;
    font-family: 'Norwester', sans-serif;
    color: #E0ECE4;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
    
    
}

body {
    background-color: #66BFBF;
    margin: 0;
}


/* Landing Page Content */

main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        

        
}

main section {
    max-width: 55%;
    margin-bottom: 50px;
}

main h1 {
     font-size: 510%;
     font-family: 'Kollektif', Arial, sans-serif;
     color: #E0ECE4;
     text-shadow: 5px 5px #FF4B5C;
     
     
}

main p {
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 190%;
        color: #E0ECE4;
        justify-self: center;
}


.portrait {
    
        width: 30%;
        margin: 30px;
        filter: drop-shadow(5px 5px 8px #056674);
        align-self: center;
}

    

button {
        max-width: 200px;
        background-color: #FF4B5C;
        border: 1px solid #056674;
        border-radius: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: 'Norwester', Arial, sans-serif;
        color: #E0ECE4;
        font-size: 170%;
        
        
}




/* About Page Content */

.about-top {
    display: flex;
    margin: auto;
}

.fullbody {
    max-width: 20%;
    margin: 50px;
    padding: 5px;
    filter: drop-shadow(5px 5px 8px #056674);
    z-index: -3;
}

 .about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.about h1 {
    font-size: 510%;
    z-index: 3;
    align-self: center;
}

.about-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding-bottom: 50px;
}


.about p {
    font-size: 150%;
}


.about h2 {
    font-family: 'Kollektif', Arial, sans-serif;
    font-size: 300%;
    color: #E0ECE4;
    text-shadow: 2px 2px #FF4B5C;
    
}

.about h3 {
    font-family: 'Kollektif', Arial, sans-serif;
    font-size: 170%;
    background-color: #E0ECE4;
    padding: 10px 5px 10px 5px;
    color: #056674;
    box-shadow: 5px 5px #056674;
    max-width: 50%;
    

}

.about ul {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 150%;
    margin-left: 50px;
    color: #056674;
    line-height: 150%;
}

.about button {
    max-width: 180px;
    background-color: #FF4B5C;
    border: 1px solid #056674;
    border-radius: 5px;
    margin: 30px auto 50px auto;
    font-family: 'Norwester', Arial, sans-serif;
    color: #E0ECE4;
    font-size: 170%;;
} 


/* Projects Page Content */
.projects {
padding-top: 30px;
padding-bottom: 50px;
}
.projects h1 {
    margin: auto;
}

.project-gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.project {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    height: 50%;
    margin: auto;
    align-items: center;

}


.project-1 img {
    max-width: 50%;
    max-height: 50%;
}


.projects h2 {
    font-family: 'Kollektif', Arial, sans-serif;
    font-size: 300%;
    color: #E0ECE4;
    text-shadow: 3px 3px #FF4B5C;
    margin-left: 30px;  
}

.projects p {
    font-size: 150%;
    max-width: 50%;
}

.projects img {
    max-width: 50%;
    border: 3px solid #E0ECE4;
    box-shadow: 5px 5px #056674;
   
}

.projects button {
    max-width: 150px;
    background-color: #FF4B5C;
    border: 1px solid #056674;
    border-radius: 5px;
    margin-left: 30px; 
    margin-bottom: 30px;
    font-family: 'Norwester', Arial, sans-serif;
    color: #E0ECE4;
    font-size: 170%;
}



/* Blog Page Content */

.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px auto 50px auto;
}

.blog h1 {
  margin: auto;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    justify-content: space-evenly;
}

.blog img {
    max-width: 70%;
    border: 3px solid #E0ECE4;
    box-shadow: 5px 5px #056674;
}

.blog h2 {
    font-family: 'Kollektif', Arial, sans-serif;
    font-size: 240%;
    color: #E0ECE4;
    text-shadow: 2px 2px #FF4B5C;
    margin: auto;
}

.blog h3 {
    font-family: 'Kollektif', Arial, sans-serif;
    font-size: 140%;
    color: #056674;
    margin: auto;
    font-style: italic;
}

.blog p {
    font-size: 140%
}

.blog button {
    max-width: 150px;
    background-color: #FF4B5C;
    border: 1px solid #056674;
    border-radius: 5px;
    margin: auto;
    font-family: 'Norwester', Arial, sans-serif;
    color: #E0ECE4; 
}



.blog article {
    width: 50%;
    margin-bottom: 30px;
    
}

       /* Blog Post Individual Page Styles */

    .blog-post {
        padding-bottom: 50px;
    }
    
    .blog-post h2 {
        font-family: 'Kollektif', Arial, sans-serif;
        font-size: 250%;
        color: #E0ECE4;
        text-shadow: 2px 2px #FF4B5C;
        margin: 30px 20px 10px 50px; 
    }

    .blog-post h3 {
        font-family: 'Kollektif', Arial, sans-serif;
        font-size: 110%;
        color: #056674;
        margin: 0 0 5px 50px;
        font-style: italic;
    }

    .blog-post img {
        max-width: 50%;
        border: 3px solid #E0ECE4;
        box-shadow: 5px 5px #056674;
        margin: 30px;
        float: left;
        
    }

    .blog-post p {
        font-size: 120%;
        margin: 10px 30px 10px 30px;
    }

/* Contact Page Content */
.contact {
    display: flex;
    padding-top: 30px;
    padding-bottom: 50px;
    align-items: center;
    justify-content: space-evenly;
}

.contact h1 {
    margin: auto;
}

.contact p {
    margin: auto;
    font-size: 170%;
    width: 90%;
}

.contact-middle {
    display: flex;
    flex-direction: column;
    margin: 30px auto auto auto;
    justify-content: space-evenly;
}

.contact .buttons {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 10%;

}

.contact button {
    max-width: 170px;
    background-color: #FF4B5C;
    border: 1px solid #056674;
    border-radius: 5px;
    font-family: 'Norwester', Arial, sans-serif;
    color: #E0ECE4;
    font-size: 170%;
    
       
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    font-family: "Kollektif", Arial, sans-serif;
    font-size: 150%;
    margin: auto;
}

.contact label {
    color: #E0ECE4;
    text-shadow: 2px 2px #056674;
    font-size: 150%;
}

.contact input {
    border: 1px solid #056674;
    box-shadow: 2px 2px #056674;
    width: 200px;
}

.contact textarea {
    border: 1px solid #056674;
    box-shadow: 2px 2px #056674; 
    width: 500px;
}
}


/* SmartPhone Layout */

@media only screen and (min-device-width: 220px) and (max-device-width: 767px) {

    /* Styles */

    body {
        max-width: 480px;
        background-color: #66BFBF;
        margin: 0;
    }

    /* Header and Nav Bar */

    header {
        display: flex;
        background-color: #056674;
        padding: 10px;
    }

    nav {
        display: flex;
    
    }

    .logo {
        align-self: flex-start;
        height: 50px;
        width: 50px;
        margin: auto;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: space-around;
        margin: auto;
        padding: 0;
    }

    nav ul li a {
        font-size: 120%;
        font-family: 'Norwester', sans-serif;
        color: #E0ECE4;
        margin: 5px;
        text-decoration: none;
        
    }

    /* Landing Page Content */

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 50px;
        
    }

    main h1 {
     margin-left: 30px;
     font-size: 400%;
     font-family: 'Kollektif', Arial, sans-serif;
     color: #E0ECE4;
     text-shadow: 2px 2px #FF4B5C;
     margin-bottom: 10px;
     
    }

    main p {
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 120%;
        margin: 10px;
        color: #E0ECE4;
    }


    .portrait {
        max-width: 480px;
        width: 50%;
        margin: auto;
        padding: 5px;
        filter: drop-shadow(5px 5px 8px #056674);
        display: relative;
        
    }

    

    button {
        max-width: 150px;
        background-color: #FF4B5C;
        border: 1px solid #056674;
        border-radius: 5px;
        margin-left: 35%;
        font-family: 'Norwester', Arial, sans-serif;
        color: #E0ECE4;
        font-size: 150%;
        margin-top: 20px;

    }

    

    /* About Page Content */

    .fullbody {
        max-width: 30%;
        margin: 10px;
        padding: 5px;
        border: 3px dashed #FF4B5C;
        border-radius: 5px;
        
    }

    .about {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .about h1 {
        font-size: 60px;
    }

    .about p {
        margin: 20px;
    }

    .fullbody {
        display: none;
    }

    .about h2 {
        font-family: 'Kollektif', Arial, sans-serif;
        font-size: 220%;
        color: #E0ECE4;
        text-shadow: 2px 2px #FF4B5C;
        margin-left: 20px;
    }

    .about h3 {
        font-family: 'Kollektif', Arial, sans-serif;
        font-size: 130%;
        background-color: #E0ECE4;
        padding: 10px;
        color: #056674;
        margin: auto;
        box-shadow: 5px 5px #056674;

    }

    .about ul {
        font-family: 'Montserrat', Arial, sans-serif;
        color: #056674;
    }

    .about button {
        max-width: 150px;
        background-color: #FF4B5C;
        border: 1px solid #056674;
        border-radius: 5px;
        margin: 30px auto 50px auto;
        font-family: 'Norwester', Arial, sans-serif;
        color: #E0ECE4;
        font-size: 150%;
    }

    

    /* Projects Page Content */

    .project-gallery {
        max-width: 90%;
        margin-top: 0px;
    }

    .projects h2 {
        font-family: 'Kollektif', Arial, sans-serif;
        font-size: 220%;
        color: #E0ECE4;
        text-shadow: 2px 2px #FF4B5C;
        margin-left: 20px;  
    }

    .projects img {
        max-width: 90%;
        border: 3px solid #E0ECE4;
        box-shadow: 5px 5px #056674;
        margin-left: 20px;
    }

    .projects button {
        max-width: 150px;
        background-color: #FF4B5C;
        border: 1px solid #056674;
        border-radius: 5px;
        margin-left: 15px;
        margin-bottom: 50px;
        font-family: 'Norwester', Arial, sans-serif;
        color: #E0ECE4; 
        font-size: 150%;
    }

    

    /* Blog Page Content */

    .blog img {
        margin-left: 30px;
        max-width: 80%;
        border: 3px solid #E0ECE4;
        box-shadow: 5px 5px #056674;
    }

    .blog h2 {
        font-family: 'Kollektif', Arial, sans-serif;
        font-size: 220%;
        color: #E0ECE4;
        text-shadow: 2px 2px #FF4B5C;
        margin: 0 20px 10px 20px; 
    }

    .blog h3 {
        font-family: 'Kollektif', Arial, sans-serif;
        font-size: 100%;
        color: #056674;
        margin: 0 0 5px 20px;
        font-style: italic;
    }

    .blog p {
        margin-left: 30px;
    }

    .blog button {
        max-width: 150px;
        background-color: #FF4B5C;
        border: 1px solid #056674;
        border-radius: 5px;
        margin: 0 30px 50px 30px;
        font-family: 'Norwester', Arial, sans-serif;
        color: #E0ECE4; 
        font-size: 150%;
    }

    

    .blog article {
        margin-bottom: 30px;
    }

        /* Blog Post Individual Page Styles */

        .blog-post {
            display: flex;
            flex-wrap: wrap;
        }
        
        .blog-post h2 {
            font-family: 'Kollektif', Arial, sans-serif;
            font-size: 250%;
            color: #E0ECE4;
            text-shadow: 2px 2px #FF4B5C;
            margin: 30px 20px 10px 20px; 
        }
    
        .blog-post h3 {
            font-family: 'Kollektif', Arial, sans-serif;
            font-size: 110%;
            color: #056674;
            margin: 0 0 5px 20px;
            font-style: italic;
        }
    
        .blog-post img {
            max-width: 80%;
            border: 3px solid #E0ECE4;
            box-shadow: 5px 5px #056674;
            margin: 30px;
            
        }
    
        .blog-post p {
            font-size: 100%;
            margin: 10px 30px 10px 30px;
        }

    /* Contact Page Content */
    
    .contact h1 {
        margin-left: 20px;
    }

    .contact p {
        margin-left: 20px;
    }

    .contact article {
        display: flex;
        flex-direction: row;
        margin-top: 15px;
        margin-bottom: 30px;

    }

    .contact button {
        max-width: 100px;
        background-color: #FF4B5C;
        border: 1px solid #056674;
        border-radius: 5px;
        font-family: 'Norwester', Arial, sans-serif;
        color: #E0ECE4;
        font-size: 150%;
           
    }

    .contact form {
        font-family: "Kollektif", Arial, sans-serif;
        font-size: 150%;
        margin: auto;
        text-align: center;
    }

    .contact label {
        color: #E0ECE4;
        text-shadow: 2px 2px #056674;
    }

    .contact input {
        border: 1px solid #056674;
        box-shadow: 2px 2px #056674;
    }

    .contact textarea {
        border: 1px solid #056674;
        box-shadow: 2px 2px #056674; 
    }
} 

/* Tablet Layout */

@media only screen and (min-device-width: 768px) and (max-device-width: 1112px) {

    /* Styles */

    body {
        max-width: 1112px;
        background-color: #66BFBF;
        margin: 0;
    }

    /* Header and Nav Bar */

    header {
        display: flex;
        flex-direction: column;
        background-color: #056674;
        min-width: 100%;
        
    }

    nav {
        display: flex;
    
    }

    .logo {
        height: 100px;
        width: 100px;
        margin: auto;
    }

    nav ul {
        display: flex;
        list-style-type: none;
        justify-content: space-evenly;
        margin: auto;
        padding: 0;
    }

    nav ul li a {
        font-size: 200%;
        font-family: 'Norwester', sans-serif;
        color: #E0ECE4;
        margin: 15px;
        text-decoration: none;
        
    }

    /* Landing Page Content */

    
            
            
            
            
   

    main section {
        justify-content: center;
    }

    
    
    main h1 {
         font-size: 640%;
         font-family: 'Kollektif', Arial, sans-serif;
         color: #E0ECE4;
         text-shadow: 5px 5px #FF4B5C;
         margin: 50px;

         
    }

    
    
    
    main p {
            font-family: 'Montserrat', Arial, sans-serif;
            font-size: 190%;
            color: #E0ECE4;
            margin: 10px 50px 30px 50px;
            
    }
    
    
    .portrait {
            width: 30%;
            height: 100%;
            filter: drop-shadow(5px 5px 8px #056674);
            /* align-self: flex-start; */
            margin: 10px 50px 50px 50px;
            float: left;
    }
    
        
    
    button {
            max-width: 200px;
            background-color: #FF4B5C;
            border: 1px solid #056674;
            border-radius: 5px;
            padding-top: 10px;
            padding-bottom: 10px;
            font-family: 'Norwester', Arial, sans-serif;
            color: #E0ECE4;
            font-size: 170%;
            justify-self: center;
            margin-left: 40%;
            
    }
    
    

    /* About Page Content */

    .about-top {
        display: flex;
    }

    .about-middle {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fullbody {
        max-width: 30%;
        margin: 40px;
        padding: 5px;
        filter: drop-shadow(5px 5px 8px #056674);
        z-index: -3;
    }

    .about {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-bottom: 50px;
        align-items: center;
    }

    .about h1 {
        font-size: 150px;
        margin: auto;

    }

    .about p {
        margin: 20px;
    }


    .about h2 {
        font-family: 'Kollektif', Arial, sans-serif;
        font-size: 300%;
        color: #E0ECE4;
        text-shadow: 2px 2px #FF4B5C;
        align-self: flex-start;
        margin-left: 30px;
    }

    .about h3 {
        font-family: 'Kollektif', Arial, sans-serif;
        font-size: 170%;
        background-color: #E0ECE4;
        padding: 10px;
        color: #056674;
        margin-left: 30px;
        box-shadow: 5px 5px #056674;
        max-width: 45%;
        align-self: flex-start;

    }

    .about ul {
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 190%;
        margin-left: 60px;
        color: #056674;
        margin-bottom: 30px;
        align-self: flex-start;
    }

    .about button {
        max-width: 30%;
        background-color: #FF4B5C;
        border: 1px solid #056674;
        border-radius: 5px;
        padding: 5px;
        font-family: 'Norwester', Arial, sans-serif;
        color: #E0ECE4;
        font-size: 190%;
    }

    

    /* Projects Page Content */

    .projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .projects h1 {
        margin: auto;
    }

    .project-gallery {
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .project {
        display: flex;
        flex-direction: column;
        width: 42%;
        
        margin: 30px 10px 30px 30px;
    }

    .project-1 {
        display: flex;
        flex-direction: column;
        
    }

    .project img {
        max-width: 40%;
        
    }


    .projects h2 {
        font-family: 'Kollektif', Arial, sans-serif;
        font-size: 300%;
        color: #E0ECE4;
        text-shadow: 5px 5px #FF4B5C;
        margin-left: 30px;  
    }

    .projects p {
        font-size: 130%;
    }

    .projects img {
        max-width: 370px;
        border: 3px solid #E0ECE4;
        box-shadow: 5px 5px #056674;
        margin-left: 20px;
    }

    .projects button {
        max-width: 150px;
        background-color: #FF4B5C;
        border: 1px solid #056674;
        border-radius: 5px;
        margin-left: 15px; 
        margin-bottom: 30px;
        font-family: 'Norwester', Arial, sans-serif;
        color: #E0ECE4;
        font-size: 170%;
    }

    

    /* Blog Page Content */

    .blog h1 {
      margin: 30px;
    }

    

    .blog img {
        margin: 30px 70px 30px 70px;
        max-width: 70%;
        border: 3px solid #E0ECE4;
        box-shadow: 5px 5px #056674;
    }

    .blog h2 {
        font-family: 'Kollektif', Arial, sans-serif;
        font-size: 280%;
        color: #E0ECE4;
        text-shadow: 2px 2px #FF4B5C;
        margin: 0 20px 10px 20px; 
    }

    .blog h3 {
        font-family: 'Kollektif', Arial, sans-serif;
        font-size: 140%;
        color: #056674;
        margin: 0 0 5px 20px;
        font-style: italic;
    }

    .blog p {
        margin-left: 30px;
    }

    .blog button {
        max-width: 150px;
        background-color: #FF4B5C;
        border: 1px solid #056674;
        border-radius: 5px;
        margin: 0 30px 50px 30px;
        font-family: 'Norwester', Arial, sans-serif;
        color: #E0ECE4; 
        font-size: 170%;
    }

    .blog article {
        margin-bottom: 30px;
    }

    /* Blog Post Individual Page Styles */

    .blog-post {
     padding-bottom: 50px;
    }
    
    .blog-post h2 {
        font-family: 'Kollektif', Arial, sans-serif;
        font-size: 300%;
        color: #E0ECE4;
        text-shadow: 2px 2px #FF4B5C;
        margin: 30px 20px 10px 20px; 
    }

    .blog-post h3 {
        font-family: 'Kollektif', Arial, sans-serif;
        font-size: 140%;
        color: #056674;
        margin: 0 0 5px 20px;
        font-style: italic;
    }

    .blog-post img {
        max-width: 60%;
        border: 3px solid #E0ECE4;
        box-shadow: 5px 5px #056674;
        margin: 30px;
        float: left;
    }

    .blog-post p {
        font-size: 150%;
        margin: 10px 30px 10px 30px;
    }

    /* Contact Page Content */

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
    

    .contact-middle {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .buttons {
        margin-bottom: 30px;
    }

    .contact button {
        max-width: 170px;
        background-color: #FF4B5C;
        border: 1px solid #056674;
        border-radius: 5px;
        font-family: 'Norwester', Arial, sans-serif;
        color: #E0ECE4;
        font-size: 170%;
        margin: auto;
           
    }

    .contact form {
        width: 600px;
        font-family: "Kollektif", Arial, sans-serif;
        font-size: 150%;
        margin: auto;
        text-align: center;
    }

    .contact label {
        color: #E0ECE4;
        text-shadow: 2px 2px #056674;
        font-size: 120%;
    }

    .contact input {
        border: 1px solid #056674;
        box-shadow: 2px 2px #056674;
        width: 200px;
    }

    .contact textarea {
        border: 1px solid #056674;
        box-shadow: 2px 2px #056674; 
        width: 300px;
    }
}

